Repository pf-rentex/proyecto-final-bessone-raviola, pull requests merged in 2021-09, with the labels that each got.

#1 db-config
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
Labels: ready for review

#2 Pf23 - Sign in Layout
  frontend/craco.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/assets/favicon.svg
  frontend/src/assets/logo.svg
  frontend/src/assets/realtor.svg
  frontend/src/assets/waves.svg
  frontend/src/components/commons/Blob.tsx
  frontend/src/components/commons/Button/CustomButton.tsx
  frontend/src/index.css
  frontend/src/styles/colors.js
  frontend/src/styles/index.js
  frontend/src/views/auth/Login.tsx
  frontend/tailwind.config.js
Labels: ready for review

#4 PF-23 - Login Mobile
  frontend/src/components/auth/SignupBox.tsx
  frontend/src/components/commons/CustomRadioInput.tsx
  mobile/.eslintrc.js
  mobile/.prettierrc.js
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/android/app/src/main/res/drawable/horizontal_logo_svg_8fa8a5.xml
  mobile/android/app/src/main/res/drawable/logo_svg_626040.xml
  mobile/android/app/src/main/res/drawable/owner_svg_b71043.xml
  mobile/android/app/src/main/res/drawable/real_estate_svg_12ad55.xml
  mobile/android/app/src/main/res/drawable/tenant_svg_a33383.xml
  mobile/ios/Podfile.lock
  mobile/ios/mobile/Images.xcassets/horizontal_logo_svg_8fa8a5.imageset/Contents.json
  mobile/ios/mobile/Images.xcassets/horizontal_logo_svg_8fa8a5.imageset/light.pdf
  mobile/ios/mobile/Images.xcassets/logo_svg_626040.imageset/Contents.json
  mobile/ios/mobile/Images.xcassets/logo_svg_626040.imageset/light.pdf
  mobile/ios/mobile/Images.xcassets/owner_svg_b71043.imageset/Contents.json
  mobile/ios/mobile/Images.xcassets/owner_svg_b71043.imageset/light.pdf
  mobile/ios/mobile/Images.xcassets/real_estate_svg_12ad55.imageset/Contents.json
  mobile/ios/mobile/Images.xcassets/real_estate_svg_12ad55.imageset/light.pdf
  mobile/ios/mobile/Images.xcassets/tenant_svg_a33383.imageset/Contents.json
  mobile/ios/mobile/Images.xcassets/tenant_svg_a33383.imageset/light.pdf
  mobile/package-lock.json
  mobile/package.json
  mobile/src/assets/horizontal_logo.svg
  mobile/src/assets/logo.svg
  mobile/src/assets/owner.svg
  mobile/src/assets/real_estate.svg
  mobile/src/assets/tenant.svg
  mobile/src/components/auth/Footer.tsx
  mobile/src/components/buttons/GlassyButton.tsx
  mobile/src/components/common/BetweenLinesText.tsx
  mobile/src/router/StackNavigator.tsx
  mobile/src/screens/auth/Login.tsx
  mobile/src/screens/auth/Register/RegisterStepOne.tsx
  mobile/src/screens/auth/Register/RegisterStepTwo.tsx
  mobile/src/screens/auth/styles.tsx
  mobile/yarn.lock
Labels: frontend, ready for merge, mobile-app

#5 PF-23 - Register screen
  frontend/src/App.tsx
  frontend/src/assets/SignupBkg.svg
  frontend/src/assets/logo.svg
  frontend/src/components/auth/LoginBox.tsx
  frontend/src/components/auth/SignupBox.tsx
  frontend/src/components/commons/Button/CustomButton.tsx
  frontend/src/components/commons/CustomRadioInput.tsx
  frontend/src/styles/index.js
  frontend/src/views/auth/Auth.tsx
  frontend/src/views/auth/Login.tsx
Labels: frontend, ready for merge

#7 PF-21 - API + Redux for mobile.
  mobile/App.tsx
  mobile/package-lock.json
  mobile/package.json
  mobile/src/actions/baseAction.ts
  mobile/src/actions/types.ts
  mobile/src/api/index.ts
  mobile/src/reducers/baseReducer.ts
  mobile/src/reducers/index.ts
  mobile/src/screens/auth/Login.tsx
  mobile/src/store/index.ts
Labels: ready for review, mobile-app

#14 Backend tests
  backend/package-lock.json
  backend/package.json
  backend/src/config/database.ts
  backend/src/config/server.ts
  backend/src/controllers/auth.ts
  backend/src/controllers/owners.ts
  backend/src/controllers/realEstates.ts
  backend/src/controllers/tenants.ts
  backend/src/controllers/users.ts
  backend/src/index.ts
  backend/src/routes/api/auth.ts
  backend/src/routes/api/owners.ts
  backend/src/routes/api/realEstates.ts
  backend/src/routes/api/tenants.ts
  backend/src/routes/api/users.ts
  backend/src/routes/index.ts
  backend/src/tests/users.test.ts
Labels: ready for review
